# Node.js
node_modules/
firebase-credentials.json
# Logs
logs
*.log
npm-debug.log*

# Archivos de sesión
.session/
.wwebjs_auth/

# Directorios de dependencias de producción
package-lock.json
yarn.lock

# Archivos de configuración de entorno
.env

# Archivos de compilación
dist/
build/

# Otros archivos temporales que no necesitas
*.DS_Store
*.swp
*.txt
Codigo actualizado.docx